<div class="container flex center">
  <form
    [formGroup]="signUp"
    (ngSubmit)="attemptAuth(true)"
    class="form-group row col-md-10"
  >
    <label class="form-label" for="prenom">
      Nom :
      <input
        type="text"
        formControlName="prenom"
        class="form-control"
        id="prenom"
        name="prenom"
        placeholder="Entrer votre prénom"
      />
    </label>

    <label class="form-label" for="nom">
      Prénom :
      <input
        type="text"
        formControlName="nom"
        class="form-control"
        name="nom"
        id="nom"
        placeholder="Entrer votre nom"
      />
    </label>

    <label class="form-label" for="telephone">
      Téléphone :
      <input
        type="text"
        formControlName="telephone"
        class="form-control"
        name="telephone"
        id="telephone"
        placeholder="Entrer votre numéro de téléphone"
      />
    </label>

    <label class="form-label" for="email">
      Adresse Mail :
      <input
        type="email"
        class="form-control"
        formControlName="email"
        name="email"
        id="email"
        aria-describedby="emailHelp"
        placeholder="Enter email"
      />
      <small id="emailHelp" class="form-text text-muted">
        We'll never share your email with anyone else.
      </small>
    </label>

    <label class="form-label" for="password">
      Password :
      <input
        type="password"
        formControlName="password"
        class="form-control"
        id="password"
        name="password"
        placeholder="Password Here"
      />
    </label>
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="reset" (click)="resetForm()" class="btn btn-primary">
      Reset
    </button>
  </form>
</div>
